-var titulo = "Titulo Principal Nuevo"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro 
			.intro__imagen: img(src="images/imagen.png", alt="")
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					| Accusamus, dolorum veritatis nisi quisquam quo suscipit
					| aliquid voluptates sequi excepturi exercitationem voluptatum
					| deleniti, dignissimos pariatur sint ratione illo architecto
					| illum harum! 
					span Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				a.boton Leer Mas

